useDynLib(clinfun)
import(stats,graphics)
importFrom(mvtnorm, pmvnorm)
export("calogrank","coxphQuantile","coxphCPE","fe.power","fe.mdor","fe.ssize","CPS.ssize","gsdesign.binomial","gsdesign.normal","gsdesign.survival","power.ladesign","permlogrank","jonckheere.test","ph2simon","oc.twostage.bdry","ph2single","pselect","toxbdry","bdrycross.prob")
S3method(print, ph2simon)
S3method(plot, ph2simon)
S3method(print, toxbdry)
S3method(print, calogrank)
S3method(print, permlogrank)
S3method(print, gsdesign)
S3method(print, ladesign)
